.modalBackground {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(44, 44, 44, 0.5);
}

.modal {
  background-color: rgb(254, 254, 254);
  min-width: 300px;
  min-height: 400px;
  position: fixed;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -45%);
  border-radius: 8px;
}
